/*----------  colors  ----------*/

$grey:
rgba(0, 0, 0, .7),
#404040,
rgba(0,0,0,.26),
rgba(0,0,0,.12),
rgba(0,0,0,.3),
#dddddd,
#828282,
rgba(221, 221, 221, .5),
#929292,
rgba(0, 0, 0, .89);

$pink:
#ea5b71;

$blue:
#42b4e6,
#95e0fd,
#1d7399,
#1d5066,
#607d8b;

$gold:
#b3ad21,
#dabd39,
#a88212,
#ff9800;

$green:
#3af3c7,
#a9e1a9,
#2dba99,
#8bc34a;

$red:
#ff5722;

$purple:
#585f80,
#545bb0;