/**
 *
 * variables
 *
 */

// $screen: #607d8b;
// $screen: #95e0fd;
$screen: #42b4e6;
$phrase: #4ce4e6;
$phrase: #95e0fd;
$background: #42b4e6;
$text-color-primary: rgba(0, 0, 0, .89);
$cursor-timing: .5s;
$children: false;
$anim-timing: 1s;
$pink: #ea5b71;
$blue: #1d7399;
$gold: #b3ad21;
$purple: #585f80;

/*----------  field  ----------*/

$cell-size: 73px;
$border-size: 20px;
$border-color: white;
$border-radius: 100%;
$winner-size: 14px;

/*----------  nil  ----------*/

$nil-size: 20px;
$nil-border-size: 12px;


/*----------  cross  ----------*/

$cross-size: 44px;
$cross-height: 12px;
$color: white;

/*----------  avatar  ----------*/

$avatar-size: 90px;

/*----------  message  ----------*/

$message-font-size: 2.6rem;
$animation-msg-timing: 1.5s;

/*----------  coin  ----------*/

$coin-size: 28px;
$coin-color: #dabd39;
$coin-edge: #a88212;
