/**
 *
 * variables
 *
 */

@import "colors-definitions";

$font-family-default: 'Permanent Marker', cursive;
$cursor-timing: .5s;
$children: false;
$anim-timing: 1s;
$game-img-path: '../blocks/game/';
$text-color-primary: nth($grey, 10);
$cursor-default: url('../blocks/game/game_cursor_default.svg'), auto;

/*----------  screen  ----------*/

$screen-title-color: nth($blue, 1);
$screen-phrase-color: nth($blue, 2);
$container-bg: nth($blue, 1);

/*----------  field  ----------*/

$cell-size: 73px;
$border-size: 20px;
$border-color: white;
$border-radius: 100%;
$winner-size: 14px;
$cell-before-color: nth($blue, 1);

/*----------  nil  ----------*/

$nil-size: 20px;
$nil-border-size: 12px;

/*----------  cross  ----------*/

$cross-size: 44px;
$cross-height: 12px;
$color: white;

/*----------  confetti  ----------*/

$confetti-width: 100px;
$confetti-height: 130px;
$confetti-colors: #d13447, #ffbf00, #263670;
$confetti-count: 150;

/*----------  dice  ----------*/

$dice-bg-color: nth($grey, 2);
$dice-border-color: white;
$dice-dot-bg-color: white;
$dice-size: 80px;
$dice-border-radius: 10px;
$dice-border-width: 6px;
$dice-dot-size: 12px;

/*----------  avatar  ----------*/

$ava-size: 90px;
$ava-border-color: $border-color;
$ava-hl-border-color: yellow;
$ava-hl-shadow-color: nth($grey, 5);

/*----------  message  ----------*/

$msg-font-size: 2.6rem;
$msg-animation-timing: 1.5s;
$msg-shadow-color: $text-color-primary;

/*----------  coin  ----------*/

$coin-size: 28px;
$coin-color: nth($gold, 2);
$coin-edge: nth($gold, 3);

/*----------  menu  ----------*/

$menu-bar-ico-size: 43px;

/*----------  bonus  ----------*/

$bonus-msg-font-size: 25px;
$bonus-color: nth($green, 1);
$bonus-lose-color: nth($red, 1);
$bonus-volition-color: nth($purple, 2);

/*----------  button  ----------*/

$btn-font-size: 1.2rem;
$btn-font-family: 'Permanent Marker', cursive;
$btn-min-width: 200px;
$btn-border-radius: 100px;
$btn-bg-color: nth($blue, 1);
$btn-ml-bg-color: nth($blue, 4);
$btn-disabled-color: nth($grey, 3);
$btn-disabled-bg-color: nth($grey, 4);

/*----------  popup  ----------*/

$popup-width: 470px;
$popup-height: 700px;


/*----------  experience  ----------*/

$exp-width: 200px;
$exp-height: 30px;
$exp-border-size: 4px;
$exp-color: nth($green, 1);
$exp-points-font-size: 22px;
$exp-points-color: white;
$exp-help-font-size: 12px;
$exp-level-font-size: 22px;
$exp-level-color: white;
$exp-bonus-font-size: 130px;
$exp-bonus-text-shadow: 1px 1px 1px black;

/*----------  volition  ----------*/

$vol-font-size: 14px;
$vol-count-font-size: 22px;
$vol-count-color: white;

/*----------  statistics  ----------*/

$st-table-offset-top: 20px;
$st-th-bg-color: #64b5f6;
$st-td-bg-color: #e3f2fd;
$st-td-border-color: white;
$st-numeric-width: 40px;
$st-numeric-padding-left: 15px;

/*----------  pagination  ----------*/

$pg-link-color: #7074f6;
$pg-link-color-active: #66c9df;

/*----------  chip  ----------*/

$chip-size: 100px;
$chip-border-color: nth($grey, 6);
$chip-border-size: 1px;
$chip-border-radius: 5px;
$chip-side-color: nth($blue, 5);
$chip-side-font-size: 16px;
$chip-ico-size: 44px;
$chip-ico-shadow-color: nth($grey, 7);
$chip-lock-color: nth($grey, 8);
$chip-grid-color: nth($grey, 9);
$chip-grid-width: 4px;
$chip-close-size: 40px;
$chips-bar-ico-size: 35px;
$chip-picked: nth($green, 2);
$chips:
star,
heart,
paw,
flush,
snowflake,
cloud,
cake,
bomb,
plane,
basketball,
affiliate;

/*----------  about  ----------*/

$about-font-size: 18px;
$about-text-line-height: 1.8;
$about-text-padding: 15px 29px 0;
$about-affiliate-size: 22px;

/*----------  signIn  ----------*/

$sign-eye-size: 30px;
$sign-label-f-size: 23px;
$sign-label-f-size-focused: 13px;
$sign-input-f-size: 23px;
$sign-input-width: 200px;
$sign-input-height: 58px;
$sign-input-border: 5px solid white;
$sign-input-border-radius: 100px;
$sign-password-f-size: 38px;

