/**
 *
 * tic-tac-toe
 *
 */

.tttoe {
	border-collapse: collapse;
	border-spacing: 0;
	tr {
		td:first-child {
			border-left-color: transparent;
		}
		td:last-child {
			border-right-color: transparent;
		}
	}
	tr:first-child {
		td {
			border-top-color: transparent;
		}

	}
	tr:last-child {
		td {
			border-bottom-color: transparent;
		}
	}
	&__field-wrp {
		@media (min-width: 840px) {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		> div {
			position: relative;
			cursor: url('../blocks/game/game_cursor.svg') 0 45, auto;
		}
	}
	&__tick {
		display: flex;
		margin: auto;
	}
	&__tick--nil {
		width: $nil-size;
		height: $nil-size;
		border: $nil-border-size solid $border-color;
		border-radius: 100%;
		background-color: transparent;
	}
	&__tick--cross {
		position: relative;
		top: -5px;
		width: $cross-size;
		&::before,
		&::after {
			position: absolute;
			width: $cross-size;
			height: $cross-height;
			content: '';
			background-color: $color;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	&__cell {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 2.3rem;
		position: relative;
		width: $cell-size;
		height: $cell-size;
		padding: 0;
		text-align: center;
		border: $border-size solid $border-color;
		border-radius: $border-radius;
		&::before,
		&::after {
			position: absolute;
			top: - $border-size / 2;
			right: - $border-size;
			width:  $border-size;
			content: '';
			visibility: hidden;
		}
		&::before {
			height: $cell-size / 2;
			background-color: $cell-before-color;
		}
		&::after {
			height: $cell-size - 5px;
			border-radius: 100px;
			background-color: $border-color;
		}
		tr:first-child & {
			&::before,
			&::after {
				visibility: visible;
			}
		}
		tr:not(:last-child) &:last-child {
			&::before,
			&::after {
				height: $border-size;
				top: auto;
				right: - $border-size / 2;
				bottom: - $border-size;
				visibility: visible;
			}
			&::before {
				width: $cell-size / 2;
			}
			&::after {
				width: $cell-size - 5px;
			}
		}
		tr:not(:first-child) &:first-child {
			&::before,
			&::after {
				height: $border-size;
				top: - $border-size;
				left: - $border-size / 2;
				visibility: visible;
			}
			&::before {
				width: $cell-size / 2;
			}
			&::after {
				width: $cell-size - 5px;
			}
		}
		tr:last-child &:not(:first-child) {
			&::before,
			&::after {
				top: auto;
				bottom: - $border-size / 2;
				left: - $border-size;
				right: auto;
				visibility: visible;
			}
		}
	}
	&__inner {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		.tttoe__cell--winner-x &,
		.tttoe__cell--winner-y &,
		.tttoe__cell--winner-z &,
		.tttoe__cell--winner-z-45 & {
			position: relative;
			&::before {
				position: absolute;
				z-index: 1;
				top: calc(50% - #{$winner-size} / 2);
				left: 0;
				width: 100%;
				height: $winner-size;
				content: '';
				background-color: $border-color;
			}
		}
		.tttoe__cell--winner-x & {
			&::before {}
		}
		.tttoe__cell--winner-y & {
			&::before {
				transform: rotate(90deg);
			}
		}
		.tttoe__cell--winner-z & {
			&::before {
				top: -7px;
				left: 0;
				width: 	141%;
				transform: rotate(45deg);
				transform-origin: left;
			}
		}
		.tttoe__cell--winner-z-45 & {
			&::before {
				top: -7px;
				left: auto;
				right: 0;
				width: 141%;
				transform: rotate(-45deg);
				transform-origin: right;
			}
		}
	}
	&__computer-cursor {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 45px;
		height: 45px;
		transition: all $cursor-timing linear;
		background: url('../blocks/game/game_cursor_alt.svg') no-repeat;
	}
	&__status {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		margin-top: 5%;
		padding: 0 20%;
		pointer-events: none;
		justify-content: space-between;
	}
	&__player {
		position: relative;
		width: $ava-size;
		text-align: center;
	}
	&__avatar {
		box-sizing: border-box;
		display: inline-block;
		width: $ava-size;
		height: $ava-size;
		border-radius: 10px;
		border: 5px solid $ava-border-color;
	}
	&__avatar--highlight {
		box-shadow: 0 0 5px $ava-hl-shadow-color;
		border-color: $ava-hl-border-color;
	}
	&__name {
		line-height: 1.1;
		margin: 5px 0;
		color: white;
	}
	&__store {
		font-size: 2rem;
		line-height: 1.1;
		display: inline-block;
		color: $border-color;
	}
	&__chips {}
	&__chips-inner {}
	&__chips-close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: $chip-close-size;
		height: $chip-close-size;
		background-image: url('#{$game-img-path}close.svg');
		&:active {
			position: absolute;
			top: 15px;
		}
	}
	&__chip {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: $chip-size;
		height: $chip-size;
		margin: 5px;
		padding: 3px;
		transition: all .3s ease-in-out;
		border-radius: $chip-border-radius;
		border: $chip-border-size solid $chip-border-color;
		color: black;
		&:disabled {
			background-color: transparent;
		}
	}
	&__chip--pick {
		box-shadow: 2px 2px $chip-picked;
	}
	&__chip-paid {
		width: 20px;
		height: 20px;
		background: url('#{$game-img-path}check.svg') no-repeat center;
	}
	&__chip-footer {
		display: flex;
		align-items: center;
		margin-top: 5px;
	}
	&__chips-unlock {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		// background: url('#{$game-img-path}confetti.png') no-repeat center;
	}
	&__chips-cofetti {}
	&__chip-ico {
		width: $chip-ico-size;
		height: $chip-ico-size;
		.tttoe__chips-unlock & {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			// transform: translate(-50%, -50%) scale(3);
			> span {
				font-size: 10px;
				position: absolute;
				left: -28%;
				bottom: 37%;
				text-align: center;
				white-space: nowrap;
				text-shadow: 1px 1px 0 $chip-ico-shadow-color;
				color: white;
			}
		}
		.tttoe__statistics & {
			display: inline-block;
		}
	}
	&__chip-ico--mini {
		width: $chip-ico-size / 2;
		height: $chip-ico-size / 2;
		background-size: cover;
	}
	@each $chip in $chips {
		&__#{$chip} {
			background-image: url(#{$game-img-path}#{$chip}.svg);
			background-repeat: no-repeat;
			&.tttoe__tick {
				top: 0;
				width: 44px;
				height: 44px;
				border: 0;
				border-radius: 0;
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
	&__chip-lock {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-color: $chip-lock-color;
		&::before,
		&::after {
			position: absolute;
			z-index: 0;
			top: 0;
			left: calc(50% - 4px / 2);
			width: $chip-grid-width;
			height: 100%;
			content: '';
			background-color: $chip-grid-color;
		}
		&::before {
			transform: rotate(-45deg) scale(1.5);
		}
		&::after {
			transform: rotate(45deg) scale(1.5);
		}

		> div {
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url("../blocks/game/lock.svg") no-repeat center 60%;
			.tttoe__chip:hover & {
				animation-name: lock;
				animation-duration: .5s;
				animation-fill-mode: both;
			}
		}

	}
	&__chip-cost {}
	&__message {
		position: fixed;
		z-index: 1;
		top: calc(50% - #{$msg-font-size} / 2);
		left: 0;
		width: 100%;
		text-align: center;
		text-shadow: 1px 1px 0 $msg-shadow-color;
	}
	&__chips-bar {
		position: relative;
		z-index: 2;
		margin-right: 28px;
		> button {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin: 0;
			padding: 0;
			&:disabled {
				background-color: transparent;
			}
		}
	}
	&__chip-side {
		font-size: $chip-side-font-size;
		position: absolute;
		z-index: 1;
		top: 3px;
		right: 8px;
		color: $chip-side-color;
	}
	&__chips-bar-ico {
		width: $chips-bar-ico-size;
		height: $chips-bar-ico-size;
		background-image: url('#{$game-img-path}chips.svg');
	}
	&__statistics {
		table {
			width: 100%;
			margin-top: $st-table-offset-top;
			border-spacing: 0;
			counter-reset: list;
		}
		th {
			width: 10%;
			padding: 10px;
			color: white;
			background-color: $st-th-bg-color;
			&:first-child {
				width: 30%;
				border-radius: 5px 0 0 5px;
			}
			&:last-child {
				border-radius: 0 5px 5px 0;
			}
		}
		td {
			padding: 12px 5px;
			background-color: $st-td-bg-color;
			border-bottom: 1px solid $st-td-border-color;
			&:first-child {
				text-align: left;
			}
		}
		tr {
			&:last-child {
				td:first-child {
					border-radius: 0 0 0 5px;
				}
				td:last-child {
					border-radius: 0 0 5px 0;
				}
			}
		}
		span {
			display: inline-block;
			vertical-align: baseline;
		}
		span:first-child {
			min-width: $st-numeric-width;
			padding-left: $st-numeric-padding-left;
			text-align: left;
			&::before {
				counter-increment: list;
				content: counter(list)'.';
			}
		}
	}
	&__statistics-inner {}
	&__about {
		font-size: $about-font-size;
		a {
			display: inline-block;
			margin: 10px 0 6px 0;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin: 10px 0;
		}
	}
	&__about-inner {
		height: auto;
		max-height: 100%;
	}
	&__about-text {
		line-height: $about-text-line-height;
		padding: $about-text-padding;
	}
	&__affiliate {
		display: inline-block;
		width: $about-affiliate-size;
		height: $about-affiliate-size;
	}
	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__key {
		font-size: 13px;
		margin-top: -10px;
		text-transform: uppercase;
		color: black;
		.tttoe__chips-bar & {
			position: relative;
			top: 3px;
			right: -8px;
		}
	}
	&__menu-bar {
		position: relative;
		z-index: 2;
		> button {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin: 0;
			padding: 0;
			&:active,
			&:hover {
				top: 0;
				transform: scale(1.05);
			}
		}
	}
	&__menu-bar-ico {
		width: $menu-bar-ico-size;
		height: $menu-bar-ico-size;
		background-image: url('#{$game-img-path}menu.svg');
	}
	&__coins {
		display: flex;
		align-items: center;
	}
	&__coin {
		visibility: visible;
		width: $coin-size;
		height: $coin-size;
		margin-right: 10px;
		border-radius: 100%;
		box-shadow: 0 0 0 2px $coin-edge, 0 0 0 6px $coin-color;
		background-color: $coin-color;
		&--random {
			position: absolute;
			z-index: 1;
			left: calc(50% - #{$coin-size} / 2);
			top: calc(50% - #{$coin-size} / 2);
		}
		&--mini {
			width: $coin-size / 3;
			height: $coin-size / 3;
		}
	}
	&__coins-count {
		font-size: 22px;
		color: white;
	}
	&__volition {
		position: relative;
		display: flex;
		align-items: center;
		margin-right: 30px;
		&:hover {
			&::after {
				font-size: 14px;
				position: absolute;
				top: -20px;
				right: 3px;
				text-transform: uppercase;
				content: attr(data-title);
			}
		}
	}
	&__volition-ico {
		visibility: visible;
		transition: all .5s ease-in-out;
	}
	&__volition-count {
		font-size: 22px;
		margin-right: 10px;
		color: white;
	}
	&__exp-bar {
		display: flex;
		align-items: center;
	}
	&__experience {
		position: relative;
		overflow: hidden;
		width: $exp-width;
		height: $exp-height;
		margin-right: 10px;
		border: $exp-border-size solid white;
		border-radius: 15px;
		&:hover {
			overflow: visible;
			&::after {
				font-size: 12px;
				line-height: 30px;
				margin-left: 10px;
				content: attr(data-next-lvl);
				white-space: nowrap;
			}
			> span {
				display: none;
			}
		}
		> span {
			&:last-child {
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				transition: all .5s ease-in-out;
				background-color: $exp-color;
			}
		}
	}
	&__exp-points {
		font-size: 22px;
		visibility: visible;
		margin-right: 10px;
		color: white;
	}
	&__level {
		font-size: 22px;
		color: white;
		> span {
			display: inline-block;
			visibility: visible;
		}
	}
	&__bonus {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		> div {
			font-size: 130px;
			line-height: 1;
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-end;
			text-shadow: 1px 1px 1px black;
		}
	}
	&__bonus-win {
		color: $bonus-color;
		+ span {
			color: $bonus-color;
		}
	}
	&__bonus-lose {
		color: $bonus-lose-color;
		+ span {
			color: $bonus-lose-color;
		}
	}
	&__bonus-volition {
		color: $bonus-volition-color;
	}
	&__bonus-msg {
		font-size: $bonus-msg-font-size;
		font-style: italic;
		width: 100%;
		margin-top: -8px;
		margin-right: 8px;
		text-align: right;
		text-shadow: 1px 1px 1px black;
	}
}